FONT_TITLE=fonts/NotoSerifCJK-Bold.ttc
FONT_NORM=fonts/NotoSerifCJK-Bold.ttc
FONT_SMALL=fonts/NotoSerifCJK-Bold.ttc
F_TITLE_SIZE=26
F_NORM_SIZE=19
F_SMALL_SIZE=14
C_BG=18,16,28
C_PANEL=30,27,45
C_PANEL2=38,34,56
C_ACCENT=0,230,170
C_ACCENT2=120,90,255
C_TEXT=228,226,240
C_DIM=130,126,150
C_BTN=48,42,72
C_BTN_HOV=70,60,105
C_BAR_BG=45,40,65
C_BAR_FILL=0,230,170
C_SEL=60,48,110
C_WHITE=255,255,255
C_DANGER=200,70,90
BAR_X=60
BAR_Y=470
BAR_W=620
BAR_H=12
VOL_X=700
VOL_Y=500
VOL_W=140
LIST_X=60
LIST_Y=90
LIST_W=360
LIST_H=300
LYRIC_X=450
LYRIC_Y=60
LYRIC_W=390
LYRIC_H=340
bg_image=res/background.png
bg_dim=120
panel_alpha=180
window_title=音乐播放器
window_icon=res/Android.png
